<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750451349645-9hroegv28khah6oacs346a90rkfiik2j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750451349645-9hroegv28khah6oacs346a90rkfiik2j</string>
	<key>API_KEY</key>
	<string>AIzaSyCzTqo72zAG1ukuVp32Ch5CV6tB1tqiGjw</string>
	<key>GCM_SENDER_ID</key>
	<string>750451349645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.camellador.userapp</string>
	<key>PROJECT_ID</key>
	<string>camellador-user</string>
	<key>STORAGE_BUCKET</key>
	<string>camellador-user.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750451349645:ios:faff0feb752f1d1b002ac4</string>
</dict>
</plist>